/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); */


* {
  margin: 0px;
  outline: none;
  padding: 0px;
  text-decoration: none;
}
.font-icon:hover {
  background-color: pink;
  padding: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: 364px;
  align-content: stretch;
  column-gap: 15px;
  row-gap: 15px;
  padding: 10px 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  text-align: center;
  font-size: 23px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.item-title {
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.item-desc {
  text-align: left;
  font-size: 15px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.order-button {
  text-align: center;
  padding: 4px;
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 1;
  width: 81px;
  height: 22px; 
}

.grid-item {
  padding-left: 30px;
  position: relative;
  background: transparent linear-gradient(180deg, #FFCECE 0%, #ECEAEA 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-row: 2;
}

.grid-item-1{
  grid-column: 1 / span 2;
  grid-row: 1;
}

.grid-item > img {

  flex: 1;
  
}

.grid-item-3{
  background: transparent linear-gradient(128deg, #E35C0DA8 0%, #A63A67AB 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  grid-row: 2;
}



.grid-item-3 > img {
  position: absolute;
  top: 20px;
  right: 40px;
}

@media (max-width: 600px){
  h1{
    font-size: 30px !important;
  }
  .home-cont1-text {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}

.card-category {
  display: flex;
  flex-direction: column;  
  padding-bottom: 10px;
}

.image-category {
  height: 300px;
}

.image-category:hover > img {
  border-radius: 0px;
}



.card-category:hover  {
  border: 1px solid gray;  
}
