.searchbar {
  width: 30%;   
}

.searchbar-container {
  margin-top: 10px;
}
input[type=text], select {
  padding: 7.5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;

  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 7.5px 18px;
  margin: 8px 0;
  border: none;

  cursor: pointer;
}

::-webkit-input-placeholder {
  font-size: 17px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.search-button {
  padding: 7.5px 20px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: black;
  color: white;
  font-size: 12px;
}
.button {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 11px 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.align-items-center {
  display: flex;
  justify-content: center;
}

.ui.dropdown.search{
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown {
  width: 5%;
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
}