body {
  height: 100%;
  width: 100%;
}

.image-background {
  height: 450px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  padding-top: 20px;
}
.row {
  display: flex;
  flex-direction: row;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.App-logo {
  height: 30vmin;
  /* background-color:  rgba(255, 255, 255, 0.3); */
  border-radius: 10px;
  pointer-events: none;
}
.logo-size {
  height: 8vmin;
  
  pointer-events: none;
}
.logo {
  height: 5vmin;
  pointer-events: none;
}
.margin-left-right-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.text-align-center {
  text-align: center;
}
.font-bold {
  font-weight: 900;
}
.margin-top-150 {
  margin-top: 150px;
}
.color-white{
  color: white;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
footer.page-footer .footer-copyright {
  bottom: 0;
  width: 100%;
  background: black;
  z-index:999;
}

.footer {
  width: 100%;
}

.text:hover {
  text-decoration: underline;
}
.horizontal-line {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 20px 0 20px; 
}

.horizontal-line span { 
  background:#fff; 
  padding:0 10px; 
}
.coming-soon {
  color: rgb(128,0,0);
  /* text-align: center; */
}

.nav-link:hover {
  text-decoration: underline;
  
}

.card:hover {
  border-color: darkgray;
}
.app-card:hover {
  border-color: darkgray;
}
.app-card > img {
  /* height: 100%; */
  height: 250px;
}
.card-image {
  background: '#000000';
}
.app-card > div { 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
}

.app-card:hover > p {
  color: white;
  font-weight: bold;
}
.app-card:hover > a, a:link, a:visited  {
  font-weight: bold;
}

.collasible-nav-dropdown:hover {
  border-color: darkgray;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-hamburger {
  color: white;
}

ul {
  list-style-type: none;
}
.categories > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
}
.categories > img {
  /* height: 100%; */
  height: 300px;
}
.categories:hover > p {
  color: white;
  font-weight: bold;
}