body, html {
  height: 100%;
  margin: 0;
}

.image-background {
  background-image: url("./assets/Landing.png");
  /* Full height */
  height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row {
  display: flex;
  flex-direction: row;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.App-logo {
  height: 30vmin;
  /* background-color:  rgba(255, 255, 255, 0.3); */
  border-radius: 10px;
  pointer-events: none;
}
.logo-size {
  height: 6vmin;
  
  pointer-events: none;
}
.logo {
  height: 5vmin;
  pointer-events: none;
}
.margin-left-right-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.text-align-center {
  text-align: center;
}
.font-bold {
  font-weight: 900;
}
.margin-top-150 {
  margin-top: 150px;
}
.color-white{
  color: white;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
footer.page-footer .footer-copyright {
  bottom: 0;
  width: 100%;
  background: black;
  z-index:999;
}

.footer {
  width: 100%;
}

.text:hover {
  text-decoration: underline;
}
.horizontal-line {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 20px 0 20px; 
}

.horizontal-line span { 
  background:#fff; 
  padding:0 10px; 
}
.coming-soon {
  color: rgb(128,0,0);
  /* text-align: center; */
}

.nav-link:hover {
  text-decoration: underline;
  
}

.card:hover {
  border-color: darkgray;
}
.app-card:hover {
  border-color: darkgray;
}
.app-card > img {
  /* height: 100%; */
  height: 250px;
}
.card-image {
  background: '#000000';
}
.app-card > div { 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
}

.app-card:hover > p {
  color: white;
  font-weight: bold;
}
.app-card:hover > a, a:link, a:visited  {
  font-weight: bold;
}

.collasible-nav-dropdown:hover {
  border-color: darkgray;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-hamburger {
  color: white;
}

ul {
  list-style-type: none;
}
.categories > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
}
.categories > img {
  /* height: 100%; */
  height: 300px;
}
.categories:hover > p {
  color: white;
  font-weight: bold;
}
.header-color {
  color: #5F6060;
}
.fill-button {
  color: white;
  background-color: #A63A67;
  border-color: #A63A67;
  padding-left: 44.5px;
  padding-right: 44.5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
}
.blank-button {
  color: #A63A67;
  background-color: white;
  border-color: #A63A67;
  padding-left: 44.5px;
  padding-right: 44.5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
}
.cart {
  height: 5vmin;
  margin-left: 10px;
  margin-right: 10px;
  pointer-events: none;
}

.wrapper {
  padding: 0 1.5em;
  background: white;
  border: 1px solid lightgray;
  border-radius: 1.5em;
  overflow: hidden;
}
.wrapper:hover,
.focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28)
}
.search-bar {
  display: flex;
  height: 3em;
  width: 50%;
  align-items: center;
}
input:focus {
  outline:none;
}
:focus {
  outline: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5em;
  border-top: 1px solid lightgray;
  max-height: 0;
  overflow: hidden;
  overflow-y: auto;
  animation: enlarge .25s forwards;
}
.result {
  display: flex;
  align-items: center;
}
@keyframes enlarge {
  to {
    max-height: 10em;
  }
}
